Options -Indexes

RewriteEngine on

#RewriteCond %{REQUEST_FILENAME} -f
#RewriteRule ^(.*)$ %{REQUEST_FILENAME} [L]

RewriteRule ^(mod|synonym)\/([0-9]+)$ $1.php?id=$2 [L]

RewriteRule ^statistics\/(.*)$ statistics.php?o=$1 [L]

RewriteRule ^user\/([0-9]+)$ users.php?id=$1 [L]
RewriteRule ^user\/([0-9]+)/([0-9a-z]+)$ users.php?id=$1&code=$2&del=true [L]

# delete / restore
RewriteRule ^(del|restore)\/([0-9]+)$ $1.php?id=$2 [L]

RewriteRule ^(add|createcfg|logout|mod|print|register|settings|statistics|trainer|lostpassword|synonyms)$ $1.php [QSA,L]

#RewriteCond %{REQUEST_FILENAME}.php -f
#RewriteRule ^(.*)$ %{REQUEST_FILENAME}.php [QSA,L]

#RewriteCond %{REQUEST_FILENAME}.html -f
#RewriteRule ^(.*)$ ${REQUEST_FILENAME}.html [QSA,L]

<Files "settings.cfg">
	Order allow,deny
	deny from all
</Files>
